# Site
NEXT_PUBLIC_SITE_URL=https://lefitnessloft.sltm.ca
NEXT_PUBLIC_GTM_ID=GTM-PSVSFJ4M

# Contact form (Resend)
RESEND_API_KEY=
CONTACT_TO_EMAIL=info@lefitnessloft.com
CONTACT_FROM_EMAIL=contact@lefitnessloft.com
